{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        cjohansen/dumdom {:mvn/version "2023.04.26"}
        cjohansen/imagine {:mvn/version "2023.10.11"}
        no.cjohansen/m1p {:mvn/version "2022.11.15"}
        clygments/clygments {:mvn/version "2.0.2"}
        com.datomic/peer {:mvn/version "1.0.6726"}
        com.nextjournal/beholder {:mvn/version "1.0.2"}
        com.vladsch.flexmark/flexmark-all {:mvn/version "0.64.8"}
        datomic-type-extensions/datomic-type-extensions {:mvn/version "2023.09.26"}
        html5-walker/html5-walker {:mvn/version "2022.03.07"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        integrant/integrant {:mvn/version "0.9.0-alpha2"}
        integrant/repl {:mvn/version "0.3.3"}
        java-time-dte/java-time-dte {:mvn/version "2018-04-18"}
        java-time-literals/java-time-literals {:mvn/version "2018-04-06"}
        mapdown/mapdown {:mvn/version "0.2.1"}
        optimus/optimus {:mvn/version "2023.10.13"}
        prone/prone {:mvn/version "2021-04-23"}
        ring/ring {:mvn/version "2.0.0-alpha1"}
        stasis/stasis {:mvn/version "2023.06.03"}}
 :aliases
 {:dev {:extra-paths ["dev" "dev-resources" "test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}}}}}
