{:paths ["src" "resources"]
 :deps {org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        cjohansen/imagine {:mvn/version "2023.10.11"}
        no.cjohansen/m1p {:mvn/version "2024.03.15"}
        com.datomic/peer {:mvn/version "1.0.7260"}
        com.nextjournal/beholder {:mvn/version "1.0.2"}
        com.vladsch.flexmark/flexmark-all {:mvn/version "0.64.8"}
        datomic-type-extensions/datomic-type-extensions {:mvn/version "2024.02.09"}
        dev.onionpancakes/chassis {:mvn/version "1.0.365"}
        html5-walker/html5-walker {:mvn/version "2023.11.21"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        integrant/integrant {:mvn/version "0.13.1"}
        integrant/repl {:mvn/version "0.4.0"}
        io.github.tonsky/clj-reload {:mvn/version "0.7.1"}
        java-time-dte/java-time-dte {:mvn/version "2018-04-18"}
        java-time-literals/java-time-literals {:mvn/version "2018-04-06"}
        mapdown/mapdown {:mvn/version "0.2.1"}
        optimus/optimus {:mvn/version "2023.11.21"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.16"}
        prone/prone {:mvn/version "2021-04-23"}
        ring/ring {:mvn/version "2.0.0-alpha1"}
        stasis/stasis {:mvn/version "2023.11.21"}}
 :aliases
 {:dev {:extra-paths ["dev" "dev-resources" "test"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                     clygments/clygments {:mvn/version "2.0.2"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}}}
  :build {:extra-paths ["dev" "dev-resources"]
          :exec-fn rubberduck.core/export!}
  :jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                      :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "powerpack.jar"]}}}
